.App {
  text-align: center;
}

.headerLogo {
  pointer-events: none;
  margin-left: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .headerlogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: center;

}
.navBar ul {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  list-style: none;
}
.navBar ul a {
 color:white;
 text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
